html,
body {
  height: 100%;
  width: 98vw;
  margin: 0 auto;
}

body {
  font-family: 'CeraPro';
  font-size: 24px;
  font-weight: 300;
  background-color: var(--dark);
}

h1 {
  font-size: 39px;
  font-family: 'CeraPro';
  font-weight: 300;
  font-style: normal;
  text-align: center;
  line-height: 1.5;
}

p {
  color: white;
}

a {
  font-style: italic;
  text-decoration: none;
  color: blue;
}
