@font-face {
  font-family: 'Plex Sans';
  src: url('fonts/IBMPlexSans-Regular.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CeraPro';
  src: url('fonts/CeraPro-Light.woff') format('woff');
  src: url('fonts/CeraPro-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'CeraPro';
  src: url('fonts/CeraPro-LightItalic.woff') format('woff');
  src: url('fonts/CeraPro-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}
