body.index {
}

#pole {
  background-color: #00340f;
  border: none;
  border-bottom: 1px solid white;
}

#my-form-button {
  border: none;
  padding: 10px;
  background-color: white;
  margin-left: 50px;
  border-radius: 14px;
  padding-left: 30px;
  padding-right: 30px;
}
.gren-fon {
  margin-top: 20px;
  background-color: #00340f;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 16px;
}

.nadpis {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-nadpis-2 {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.sht {
  margin-top: 20px;
}

.pic-sht {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hand {
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
}

.pereh {
  font-size: 40px;
}
